# Python
__pycache__
*.pyc
*.egg-info

# Log
*.log
*.log.*
*.json
*.jsonl

# Editor
.idea
*.swp

.ipynb_checkpoints
*.ipynb
*.sh
*.err
*.png
*.csv
log*

# Other
.DS_Store
.vscode
data/*
!data/.gitkeep
model_zoo/*
!model_zoo/.gitkeep
results/*
!results/.gitkeep
!tools/run_entity_grid.sh
!tools/run_event_grid.sh
!tools/run_reasoning_grid.sh
!tools/run_hybrid.sh
!tools/run_mean.sh
!tools/run_token.sh